.item-enter {
  opacity: 0;
  transform: translateX(var(--direction, -100%));
}

.item-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1000ms ease-in-out, transform 1000ms ease-in-out;
}

.item-exit {
  opacity: 1;
  transform: translateX(0);
}

.item-exit-active {
  opacity: 0;
  transform: translateX(var(--direction, 100%));
  transition: opacity 1000ms ease-in-out, transform 1000ms ease-in-out;
}
